.landingpagecontainer{
    background-color: black;

}

.lp-first-section{
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;

}
.lp-first-section img{
    filter: invert(1);
    width: 400px;
    margin: 0;
    object-fit: cover;
}

.lp-head{
    font-size: 35px;
    font-weight: 600;
    width: 90%;
    text-align: center;
}

.started-btn button{
    font-size: 17px;
    padding: 10px 30px;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
   
    transition: all 0.5s;
}

.started-btn button:hover {
    transform: scale(1.1);
}

@media screen and (max-width:425.7px) {
    .lp-first-section img{
        
        width: 200px;
        
    }
    .lp-head{
        font-size: 25px;
    }
}